body {
	font-family: "Montserrat", sans-serif;
}

header {
	background-color: #bbbbbb;
	padding: 20px 0;
}

.nav-box {
	width: 940px;
	position: relative;
	margin: 0 auto;
}

nav li {
	display: inline;
	margin: 0 0 0 15px;
}

nav {
	position: absolute;
	top: 110px;
	right: 0;
}

nav a {
	color: #000;
	text-transform: uppercase;
	font-weight: bold;
	font-style: 22px;
	text-decoration: none;
}

nav a:hover {
	color: #c78c19;
	text-decoration: underline;
}

main {
	
}

.banner {
	width: 100%;
}

.principal {
	width: 940px;
	margin: 0 auto;
	padding: 3em 0;
	background-color: #FEFEFE;
}

.titulo-principal {
	text-align: center;
	font-size: 2em;
	margin: 0 0 1em;
	clear: left;
	text-shadow: 2px 2px #888888;
	/* color: rgba(0,0,0, 0.3); */
}

.principal p {
	margin: 0 0 1em;
}

.principal strong {
	font-weight: bold;
}

.principal em {
	font-style: italic;
}

.utensilios {
	width: 120px;
	float: left;
	margin: 0 20px 20px 0;
}

.mapa {
	padding: 3em 0;
	background: linear-gradient(#FEFEFE, #888888);
}

.mapa-conteudo{
	width: 940px;
	margin: 0 auto;
}

.mapa p {
	margin: 0 0 2em;
	text-align: center;
}

.beneficios{
	padding: 3em 0;
	background-color: #888888;
	/* box-shadow: inset 0 0 30px #FF0000; */
}
.beneficios-conteudo {
	width: 640px;
	margin: 0 auto;
}

.beneficios-lista {
	width: 40%;
	display: inline-block;
	vertical-align: top;
}

.itens{
	line-height: 1.5;
}

.itens:before{
	content: "☆";
}

.itens:first-child{
	font-weight: bold;
}

.img-beneficios {
	width: 60%;
	opacity: 1;
	transition: 400ms;
	box-shadow: 10px 10px 10px 0px #000000;
	/* box-shadow:-10px -10px yellow, -20px 20px rgba(255, 0, 0, 0.5); */
}

.img-beneficios:hover{
	opacity: 0.3;
}

.video {
	width: 560px;
	margin: 2em auto;
}

/* CSS Antigo 

.titulo-principal {
	padding-left: 20px;
	font-size: 30px;
	font-weight: bold;
}

#banner {
	width: 100%;
}

#main {
	padding: 30px;
	background-color: #cccccc;
}

.titulo-centralizado {
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	padding-bottom: 30px;
}

p strong {
	font-weight: bold;
}

p {
	text-align: center;
}

#missao {
	font-size: 20px;
	margin: 20px 0;
	font-weight: bold;
	font-style: italic;
}

em strong {
	color: red;
}

#beneficios ul {
	display: inline-block;
	vertical-align: top;
	width: 20%;
	margin-right: 15%;
}

.itens {
	font-style: italic;
}

#beneficios {
	background: white;
	padding: 20px;
}

#img-beneficios {
	width: 50%;
} */

.copyright {
	color: white;
	font-size: 13px;
	margin-top: 20px;
}

footer {
	background: url("img/bg.jpg");
	text-align: center;
	padding: 40px 0;
}

/* main > p { seleciona primeiro herdeiro direto
	background: red;
}

img + p { seleciona primeiro p apos img
	background: blue;
}

img ~ p{ seleciona todos os p apos img
	background: yellow;
}

.principal p:not(#missao){ seleciona todos menos #missao
	background: orange;
} 

calc()
*/

@media screen and (max-width: 480px){
	.nav-box, .principal, .beneficios-conteudo, .mapa-conteudo, .video{
		width: auto;
	}

	h1 {
		text-align: center;
	}

	nav{
		position: static;
		text-align: center;
	}

	.principal p{
		margin: 0.8em 0.8em;
	}

	.lista-beneficios, .img-beneficios {
		width: 100%
	}

	.beneficios{
		text-align: center;
		padding-top: 0;
	}

	.itens{
		margin: 0.3em 0;
	}

	.itens:last-child{
		margin-bottom: 1.5em;
	}
}